

body{
	margin 0;
}

.draggable {
  cursor: move;
}

svg{
	border: 1px solid black;
}

foreignObject {
	pointer-events: none;
}

.latex-span .latex{
	width: 40px;
	height: 20px;
}

.latex-span-frac .latex{
	width: 40px;
	height: 40px;
}