* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.draggable {
  cursor: move;
}

svg {
  border: 1px solid black;
}

svg g circle:hover {
  fill: rgb(255, 0, 0);
}

foreignObject {
  pointer-events: none;
}
/* .function-text span {
} */

#output {
  padding-top: 50px;
}

#function-edit {
  padding-top: 50px;
}
.section .row .col button {
  color: #00f;
  border-color: #00f;
}
.selected-btn {
  background-color: rgb(186, 186, 226);
}
